/* INIZIO PERSONE */
.person{
  display: flex;
}
.person>div{
  display: inline-block;
  padding-left: 10px;
}
.person>div:first-child{
  line-height: 80px;
}
.person_img{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-block;
}
.person_name{
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0em;
}
.person_desc{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0em;
}
.person_link{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0em;
}
/* FINE PERSONE */

/* INIZIO GRADIENTE */
.gradient{
  text-align: center;
  position: absolute;
  height: 1%; /* this is needed */
  /*width: 100%;*/
}
.gradient_color{
  position: relative;
  height: 100px;
  top: -136px;
  width: 1128px; /* TODO change width tin media query */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
.gradient>input[type="checkbox"]{
  display: none;
}
.gradient>label{
  /* TODO make me look like a french girl */
  cursor: pointer;
}
.gradient>label::after{
  content: ' altro';
}
.gradient>input[type="checkbox"]:checked ~ .gradient_color{
  display: block;
  top: -36px;
  height: 0px;
  position: relative;
}
.gradient>input[type="checkbox"]:checked ~ label::after{
  content: ' meno';
}
.foldable.open{
  height: inherit;
}
.foldable{
  height: 0px;
  overflow: hidden;
}
/* FINE GRADIENTE */

/* INIZIO PROGRESS BAR*/
.pb-main{
  width: 90%;
  background-color: #F0F0F0;
  border-radius: 20px;
  height: 40px;
}
.pb-value{
  border-radius: 20px;
  height: 40px;
  position: relative;
}
.pb-legend{
  position: relative;
  top: -40px;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
}
.pb-legend div{
  height: 40px;
  line-height: 40px;
  margin: 0px 10px;
}
/* FINE PROGRESS BAR*/

.row{
  padding: 15px 25px;
}
.container{
  padding: 30px 0px;
}
.hide{
  display: none !important;
}
*{transition: all .2s ease-out;}
html {
  scroll-behavior: smooth;
}
.blue{
  background: linear-gradient(270deg, var(--purple) 0%, var(--blue) 100%);
}
.red{
  background: linear-gradient(270deg, var(--pink) 0%, var(--red) 100%);
}
.orange{
  background: linear-gradient(270deg, var(--yellow) 0%, var(--orange) 100%);
}
.cyan{
  background: linear-gradient(270deg, var(--cyan) 0%, var(--indigo) 100%);
}
.green{
  background: linear-gradient(270deg, var(--teal) 0%, var(--green) 100%);
}
.dashed{
  border: 2px dashed rgba(29, 29, 29, 0.3);
}
article{
  padding: 15px;
}
p{
  padding: 10px;
}
p.note{
  font-style: italic;
}
.color{
  display: inline-block;
  width: 20px;
  height: 10px;
}
.color.blue{
  background: var(--blue);
}
.color.green{
  background: var(--green);
}

summary>h2{
  display: inline;
}

.doublefilter{
  width: 100%;
  height: 50px;
  clear: both;
}
.doublefilter>div{
  width: 50%;
  float: left;
}
.doublefilter input{
  display: none;
}
.doublefilter label{
  /* border: 2px solid rgba(29, 29, 29, 0.3); */
  background-color: #5c6f82;
  display: block;
  width: 100%;
  line-height: 50px;
  margin-bottom: 0px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: #F0F0F0;
}
.doublefilter label:hover{
  background-color: #3f4d5a;
}
.doublefilter input:checked ~ label{
  background-color: #0073e6;
}

/* INIZIO GRAFICI */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: var(--blue);
  /* Control the thikness of your lines */
  stroke-width: 5px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: var(--blue);
  /* Size of your points */
  /* stroke-width: 20px; */
  /* Make your points appear as squares */
  /* stroke-linecap: square; */
}
/* .ct-chart .ct-series.ct-series-a .ct-bar[ct|meta="pergine"], */
.ct-series-a .ct-bar {
  stroke: var(--blue);
}

/* .ct-chart .ct-series.ct-series-a .ct-bar[ct|meta="trentino"], */
.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: var(--green);
  /* Control the thikness of your lines */
  stroke-width: 5px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-b .ct-point {
  /* Colour of your points */
  stroke: var(--green);
  /* Size of your points */
  /* stroke-width: 20px; */
  /* Make your points appear as squares */
  /* stroke-linecap: square; */
}
.ct-series-b .ct-bar {
  stroke: var(--green);
}

/* .ct-chart .ct-series.ct-series-a .ct-bar:not([ct|meta="pergine"]), */
/* .ct-chart .ct-series.ct-series-a .ct-bar:not([ct|meta="trentino"]), */
.ct-series-c .ct-line {
  stroke: var(--purple);
  stroke-width: 5px;
}
/* .ct-chart .ct-series.ct-series-a .ct-bar:not([ct|meta="pergine"]), */
/* .ct-chart .ct-series.ct-series-a .ct-bar:not([ct|meta="trentino"]), */
.ct-series-c .ct-point {
  stroke: var(--purple);
}
/* .ct-chart .ct-series.ct-series-a .ct-bar:not([ct|meta="pergine"]), */
/* .ct-chart .ct-series.ct-series-a .ct-bar:not([ct|meta="trentino"]), */
.ct-series-c .ct-bar {
  stroke: var(--purple);
}
#completamento .ct-bar {
  stroke-width: 60px
}
/* FINE GRAFICI */

/* INIZIO INFOGRAFICA */
.graphs{
  display: flex;
}
.graphs-element{
  width: 30px;
  height: 30px;
  background: #F0F0F0;
  border-radius: 50%;
  margin: 10px;
  /* border: 2px solid rgba(29, 29, 29, 0.3); */
}
.blue.graphs-element.selected{
  background: linear-gradient(180deg, var(--purple) 0%, var(--blue) 100%);
}
.red.graphs-element.selected{
  background: linear-gradient(180deg, var(--pink) 0%, var(--red) 100%);
}
.orange.graphs-element.selected{
  background: linear-gradient(180deg, var(--yellow) 0%, var(--orange) 100%);
}
.cyan.graphs-element.selected{
  background: linear-gradient(180deg, var(--cyan) 0%, var(--teal) 100%);
}
/* FINE INFOGRAFICA*/

/* INIZIO BARRE VERTICALI */
.ver-graph{
  width: 50px;
  height: 300px;
  border-radius: 25px;
  background-color: #F0F0F0;
  position: relative;
  margin: 0 auto;
}
.ver-graph .value{
  border-radius: 25px;
  position: absolute;
  bottom: 0px;
  width: 100%;
} 
.ver-graph .value>p{
  width: 300px;
  padding-left: 55px;
  display: block;
}
/* FINE BARRE VERTICALI */

.vote{
  text-align: center;
}
.big-value{
  font-family: 'Roboto Mono';
  font-size: 7em;
  color: var(--blue);
}
.big-tot-value{
  font-family: 'Roboto Mono';
  font-size: 5em;
}
.small-value{
  font-family: 'Roboto Mono';
  font-size: 4em;
  color: var(--blue);
}
.small-tot-value{
  font-family: 'Roboto Mono';
  font-size: 3em;
}

/* INIZIO MAPPA */
#mapid{
  height: 600px;
  width: 100%;
}
.map{
  height: 600px;
  width: 100%;
  background-size: cover;
  position: absolute;
}
#fakemap{
  background-image: url('../img/mappa.jpg');
  position: inherit;
}
label{
  cursor: pointer;
  user-select: none;
}
#blu_presenti{
  background-image: url('../img/blu_presenti.png');
}
#azzurro_presenti{
  background-image: url('../img/azzurro_presenti.png');
}
#giallo_presenti{
  background-image: url('../img/giallo_presenti.png');
}
#rosso_presenti{
  background-image: url('../img/rosso_presenti.png');
}
#verde_presenti{
  background-image: url('../img/verde_presenti.png');
}
#viola_presenti{
  background-image: url('../img/viola_presenti.png');
}
#blu_previsti{
  background-image: url('../img/blu_previsti.png');
}
#azzurro_previsti{
  background-image: url('../img/azzurro_previsti.png');
}
#giallo_previsti{
  background-image: url('../img/giallo_previsti.png');
}
#rosso_previsti{
  background-image: url('../img/rosso_previsti.png');
}
#verde_previsti{
  background-image: url('../img/verde_previsti.png');
}
#viola_previsti{
  background-image: url('../img/viola_previsti.png');
}
/* FINE MAPPA */


/* Extra small devices (landscape phones, 0px to 576px) */
@media (max-width: 576px) {
  .xs-no{
    display: none;
  }
  p{margin: 0 auto;}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .sm-no{
    display: none;
  }
  p{margin: 0 auto;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .xs-no, .sm-no{
    display: inherit;
  }
  .md-no{
    display: none;
  }  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .xs-no, .sm-no, .md-no{
    display: inherit;
  }
  .lg-no{
    display: none;
  }  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .xs-no, .sm-no, .md-no, .lg-no{
    display: inherit;
  }
  .xl-no{
    display: none;
  }  
}
@media print{
  .no-print{
    display: none;
  }
}